.headings{
    display: block;
    width: fit-content;
    margin: auto;
    text-align: center;

}

body{
    background-color:#F8F9FA;
}
header{
    font-family:'Bungee Inline'; 
    font-size: 5rem;
}

.motto{
    font-family: margarine;
    font-weight: 100;
}

.logo{
    width: 100px;
    height: 100px;
}

h2{
    font-size: 1.5rem;
    font-style: italic;
}

@media (max-width:720px) {
    header{font-size: 3.5rem;}
    h2 {font-size: 0.8rem;}
}



.categories{
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    overflow-x: auto;
    margin-bottom: 100px;
    margin-top: 50px;
    padding: 5px;

}
.category{
    background-color: rgba(0, 0, 0, 0.5);
    margin:5px;
    border-radius: 10px;
    min-width:250px;
    height:250px;
    padding: 5px;
}

@media(min-width:720px){
    .category{
        min-width:400px;
        height:400px;
    }
}

.label{
    width:fit-content;
    margin: auto;
}

.categories p {
    width: fit-content;
    margin: auto;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2em;
}
.categories img{
    height:80%;
/* get back here */
    width:100%;
    background-color: rgba(0, 0, 0, 0.5);
    object-fit:cover;
    border-radius: 2px;

}




.container{
padding: 0px;
 display: flex;
 margin: 0px;
 width: 100%;
 padding: 4px;
 flex-wrap: wrap;
 background-color: rgba(0, 0, 0, 0.5);
 margin-bottom: 150px;
 border-radius:10px;
 height:1500px;
 overflow:clip;
 gap:4px;
 position: relative;

}

.expand {
    height: fit-content
}

.container h3{
    width: 100%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 2em;
}

/* image in the div */
.container img{
width: 100%;
height: 100%;
object-fit: cover;
border-radius: inherit;
transition: scale 0.2s cubic-bezier(0.19, 1, 0.22, 1);
}


/* div containing image and price panel */
.container>div{
width: calc(33.33% - 4px);
height:var(width);
position: relative;
background-color: rgb(0, 0, 0, 0.5);
border-radius: 10px;
object-fit: cover;
overflow: hidden;
}

.container img:hover{
    /* border: 4px solid rgb(50, 50, 100); */
    scale: 1.1;
}

/* .container div p {
    font-size: 3rem;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline;
}

.container .price-tag {
    color: green;
    float: right;
} */

@media (max-width:1420px) {
    .container>div{
        width:calc(50% - 4px);
        
    }
}

@media (max-width:900px) {
    .container>div{
        width:100%;
    
    }
}

.alpha-container{
    position: relative;
    height: fit-content;
}
.dropdown{
    width:40px;
    height: 40px;
    position: absolute;
    bottom: 8px;
    left:8px;
}



.top{
 position: absolute;
 top:0px;
 height: 10%;
font-size: 2em;
 display: flex;
 justify-content: center;
 align-items: center;

}

.panel {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;

    
}



/* .dropdown:checked ~ .container {
    background-color: red;
} */



/* 
.dropdown:checked {

    width: 100px;
    height: 1000px
} */

.price {
position: absolute;
bottom:0px;
height: 20%;
display: grid;
grid-template-rows:50% 50%;
grid-template-columns:50% 50%;
grid-template-areas:'discount sales-price' 'purchase-button purchase-button' ;
align-items:center;
justify-items: center;
font-size: 1.4em;
}

.discount{
    grid-area: discount;
    align-items: stretch;
    text-decoration: line-through;
    color:grey;
}

.sales-price{
    grid-area: sales-price;
    font-weight:600;
    font-size: 1.2em;
    align-items: stretch;
}
.purchase-button {
    grid-area:purchase-button;
    width: 40%;
    justify-content: center;
    /* transition:1s; */
    font-size: 10em;
    box-shadow: 0px 3px rgb(0, 60, 20);
}

.purchase-button:hover{
    transform: scale(1.08) translateY(-2px);
    transition:  0.15s ease-out;
    box-shadow: 0px 5px   rgb(0, 60, 20);
    }

.purchase-button:active{
    box-shadow: 0px 0px ;
}





