.headings{
    display: block;
    width: fit-content;
    margin: auto;

}

body{
    background-color:#F8F9FA;
}
header{
    font-family:cursive; 
    font-size: 5rem;
}

h2{
    font-size: 1.5rem;
    font-style: italic;
}

@media (max-width:480px) {
    header{font-size: 3.5rem;}
    h2 {font-size: 0.8rem;}
}

.categories{
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    overflow-x: auto;
    margin-bottom: 100px;
    padding: 5px;

}
.category{
    background-color: rgba(0, 0, 0, 0.5);
    margin:5px;
    border-radius: 10px;
    min-width:200px;
    height:200px;
    padding: 5px;
}

@media(min-width:720px){
    .category{
        min-width:250px;
        height:250px;
    }
}

.label{
    width:fit-content;
    margin: auto;
}

.categories p {
    width: fit-content;
    margin: auto;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.25em;
}
.categories img{
    height:80%;
/* get back here */
    width:100%;
    background-color: rgba(0, 0, 0, 0.5);
    object-fit:cover;
    border-radius: 2px;

}




.container{
 display: flex;
 padding: 4px;
 flex-wrap: wrap;
 background-color: rgba(0, 0, 0, 0.5);
 margin-bottom: 150px;
 border-radius:10px;
 height:1500px;
 overflow:clip;
 gap:4px;
 position: relative;

}

.expand {
    height: fit-content
}

.container h3{
    width: 100%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 2em;
}

/* image in the div */
.container img{
width: 100%;
height: 100%;
object-fit: cover;
border-radius: inherit;
transition: scale 0.2s cubic-bezier(0.19, 1, 0.22, 1);
}


/* div containing image and price panel */
.container>div{
width: calc(33.33% - 4px);
height:var(width);
position: relative;
background-color: rgb(0, 0, 0, 0.5);
border-radius: 10px;
object-fit: cover;
overflow: hidden;
}

.container img:hover{
    /* border: 4px solid rgb(50, 50, 100); */
    scale: 1.1;
}

.container div p {
    font-size: 3rem;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline;
}

.container .price-tag {
    color: green;
    float: right;
}

@media (max-width:1000px) {
    .container div{
        width:calc(50% - 4px);
        
    }
}

@media (max-width:900px) {
    .container div{
        width:100%;
    
    }
}

.price {
position: absolute;
bottom: 0;
height: 20%;
font-size: 3em;
}

.top{
 position: absolute;
 top:0;
 height: 10%;
font-size: 2em;
 display: flex;
 justify-content: center;
 align-items: center;

}

.panel {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dropdown{
    width:40px;
    height: 40px;
    padding: auto;
    color: red;
    border-radius: 50%;
    font-size: 3em;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    font-family:monospace;
    position: absolute;
    bottom: 8px;
    left:8px;
}

/* .dropdown:checked ~ .container {
    background-color: red;
} */

.alpha-container{
    position: relative;
}

/* 
.dropdown:checked {

    width: 100px;
    height: 1000px
} */




